.footer2-mz2 {
    padding: 50px 50px 60px 50px;
}

.footer-card {
    background-color: #1f1f1f;
    border-radius: 26px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
}

.footer-card div {
    width: 60%;
}

.footer-card h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 43px;
    color: #ffffff;
}

.footer-card p {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #ffffff;
    margin-top: 10px;
}

.footer-card button {
    width: 117px;
    height: 49px;
    left: 983px;
    top: 76px;
    background: #ffffff;
    border-radius: 12px;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #1752e9;
    outline: none;
    border: none;
}

.footer-body-mz2 {
    display: flex;
    padding: 0 10px;
    align-items: start;
    justify-content: space-between;
    margin-top: 50px;
    gap: 150px;
}

.footer-body-desc-mz2 {
    width: 30%;
}

.footer-body-desc-mz2 h1 {
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
    color: #383838;
    margin-bottom: 17px;
}

.footer-body-desc-mz2 p {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #a7abb6;
}

.footer-body-icon-mz2 {
    display: flex;
    gap: 25px;
    margin-top: 25px;
}

.footer-body-icon-mz2 img {
    width: 20px;
}

.footer-body-list-mz2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
    width: 70%;
}

.footer-body-list-mz2 ul {
    list-style: none;
}

.footer-body-list-mz2 ul li:first-of-type {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    color: #222222;
    margin-bottom: 10px;
}

.footer-body-list-mz2 ul li {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 40px;
    color: #a7abb6;
}

.fotter-contact {
    display: flex;
    align-items: center;
    gap: 15px;
}

@media only screen and (min-width: 320px) and (max-width: 576px) {
    .footer2-mz2 {
        padding: 30px;
    }
    .footer-card {
        flex-direction: column;
    }
    .footer-card div {
        width: 100%;
    }
    .footer-card button {
        margin-top: 20px;
    }
    .footer-body-mz2 {
        flex-direction: column;
        margin: 30px;
        gap: 20px;
        padding: 0 0;
    }
    .footer-body-desc-mz2 {
        width: 100%;
    }
    .footer-body-list-mz2 {
        width: 100%;
        flex-direction: column;
        margin-top: 0px;
    }
    .footer-body-list-mz2 ul {
        margin-top: 20px;
    }
}
