.container-section4-section4mz4 {
    padding: 60px 70px 90px 70px;
    background-color: #1f1f1f;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.square {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 199999;
    width: 500px;
    height: 3000px;
}

.section4-title-section4mz4 {
    font-weight: 600;
    font-size: 72px;
    margin-top: 15px;
    line-height: 1.4em;
    text-align: center;
    color: #eef4ff;
}

.section4-body-section4mz4 {
    font-weight: 400;
    font-size: 20px;
    line-height: 180%;
    text-align: center;
    color: #ffffff;
}

.section4-btn-section4mz4 {
    width: 215px;
    height: 58px;
    background: #0052ff;
    border-radius: 8px;
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    text-align: center;
    color: #ffffff;
    outline: none;
    border: none;
}

.section4-btn-section4mz4:hover {
    filter: brightness(90%);
}

.section4-btn-section4mz4:active {
    transform: scale(0.98);
}

.section4-galerry-section4mz4 {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 15px;
    margin-top: 32px;
    width: 100vw;
    padding: 0 60px;
}

.galrry-item-section4mz4 {
    position: relative;
    width: 20vw;
    overflow: hidden;
    height: 280px;
    border-radius: 14px;
}

.galrry-item-section4mz4 img {
    width: 100%;
    height: 100%;
}

.galrry-item-section4mz4 span {
    position: absolute;
    left: 30px;
    bottom: 30px;
    width: 100px;
    height: 30px;
    border: 0.8px solid #ffffff;
    border-radius: 29px;
    z-index: 999;
    font-weight: 500;
    font-size: 14px;
    line-height: 10px;
    text-align: center;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media only screen and (min-width: 320px) and (max-width: 576px) {
    .container-section4-section4mz4 {
        padding: 30px;
    }
    .section4-title-section4mz4 {
        font-size: 50px;
    }
    .section4-galerry-section4mz4 {
        margin-top: 30px;
        grid-template-columns: auto;
    }
    .galrry-item-section4mz4 {
        position: relative;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        overflow: hidden;
        height: 300px;
        border-radius: 14px;
    }
    .galrry-item-section4mz4 img {
        width: 100%;
        height: 100%;
    }
    .galrry-item-section4mz4 span {
        position: absolute;
        left: 30px;
        bottom: 30px;
        width: 100px;
        height: 30px;
        border: 0.8px solid #ffffff;
        border-radius: 29px;
        z-index: 999;
        font-weight: 500;
        font-size: 14px;
        line-height: 10px;
        text-align: center;
        color: #ffffff;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
