/* kode default */

@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap");

:root {
    --bluePrimary: rgba(59, 130, 246, 1);
    --bgColor: linear-gradient(
        180deg,
        #e4efff 0%,
        rgba(228, 239, 255, 0.6) 92.51%,
        rgba(228, 239, 255, 0) 100%
    );
    --blueDark: rgba(25, 55, 102, 1);
    --blueDarkSoft: rgb(63, 110, 187);
    --blueDark1: rgb(45, 126, 255);
    --blueDark2: rgb(93, 155, 255);
    --blueDark3: rgb(146, 186, 255);
    --blueYoung: hsl(203, 100%, 82%);
    --blueLight: #c6dbff;
    --paragraph: #697b98;
}

html {
    scroll-behavior: smooth;
}

* {
    font-family: "DM Sans", sans-serif;
    text-decoration: none;
}

a {
    text-decoration: none;
}

::-webkit-scrollbar {
    display: none;
}

.sidebar {
    display: none;
}

body {
    padding: 0;
    background-color: #e5f0ff;
    margin: 0;
}

/* End kode default */

.modal-brosur {
    position: fixed;
    z-index: 9999;
    background-color: rgba(2, 2, 2, 0.555);
    width: 100vw;
    height: 100vh;
    top: 0;
    display: none;
    justify-content: center;
    align-items: center;
}

.modal-brosur img {
    width: 70%;
}

.wrapper-brosur {
    position: relative;
    width: 60vw;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

.modal-brosur-close {
    position: absolute;
    top: 45px;
    right: 160px;
    background-color: red;
    color: white;
    border-radius: 9999px;
    padding: 4px;
    width: 40px;
    z-index: 4444;
    height: 40px;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-brosur-close:hover {
    transition: 0.3s;
    cursor: pointer;
    filter: brightness(90%);
    transform: scale(0.94);
}

.modal-brosur-close:active {
    transition: 0.3s;
    transform: scale(0.90);
}

.square {
    position: absolute;
    top: 0;
    right: 0;
}

.btn-web {
    position: relative;
    width: 160px;
    height: 46px;
    background-color: rgba(25, 55, 102, 1);
    color: white;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    outline: none;
}

.btn-web:hover {
    transition: 0.4s;
    filter: brightness(70%);
    transform: scale(0.98);
}

/* kode component navbar */

.navbar {
    position: relative;
    margin-top: 40px;
    z-index: 55;
    height: max-content;
    box-shadow: 10px 43px 80px rgba(0, 0, 0, 0.12);
    margin-left: auto;
    margin-right: auto;
    border-radius: 24px;
    width: 80vw;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-brand img {
    width: 40px;
    position: relative;
    top: 0px;
    left: 30px;
}

.navbar-collapse {
    margin-left: 80px;
    width: 100%;
}

.container-fluid {
    margin-left: auto;
}

.navbar ul {
    display: flex;
    align-items: center;
}

.navbar ul li {
    margin-right: 30px;
    margin-left: 30px;
    list-style: none;
    color: black;
}

.navbar a {
    color: black;
}

.active {
    font-weight: bold;
}

.btn-navbar {
    color: var(--bluePrimary);
    background-color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 23px;
    align-items: center;
    cursor: pointer;
    padding: 10px 20px;
    width: 137px;
    height: 43px;
    border-radius: 6px;
    border: none;
    outline: none;
}

/* End kode component navbar */

/* Kode section 1 */

.section1 {
    position: relative;
    background: #e5f0ff;
    width: 100vw;
    /* height: 80vh; */
    display: flex;
    z-index: 3;
    padding-top: 140px;
}

.wrap-project {
    display: flex;
    width: 100vw;
    margin-top: 80px;
    position: relative;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    border-radius: 100px;
    height: 80px;
}

.project-child1,
.project-child3 {
    width: 33%;
    height: 100%;
    background-color: rgb(164, 193, 255);
}

.project-child2 {
    height: 100%;
    width: 33%;
    background-color: var(--blueLight);
}

.section1-left {
    width: 100%;
    height: 100%;
    flex-direction: column;
    display: flex;
    text-align: center;
    margin-left: -12px;
    justify-content: center;
    background: var(--bgColor);
}

.section1-left h1 {
    color: var(--blueDark);
    font-size: 80px;
    width: 80%;
    position: relative;
    font-weight: 500;
    top: -55px;
    margin-left: auto;
    margin-right: auto;
}

.M,
.K,
.H {
    position: relative;
}

.M::before {
    position: absolute;
    content: "";
    left: -2px;
    bottom: 20px;
    background-color: var(--blueDarkSoft);
    opacity: 0.4;
    width: 94%;
    height: 32%;
    display: block;
}

.K::before {
    position: absolute;
    content: "";
    left: -2px;
    bottom: 20px;
    background-color: var(--blueDarkSoft);
    opacity: 0.4;
    width: 94%;
    height: 32%;
    display: block;
}

.H::before {
    position: absolute;
    content: "";
    left: -2px;
    bottom: 20px;
    background-color: var(--blueDarkSoft);
    opacity: 0.4;
    width: 94%;
    height: 32%;
    display: block;
}

.section1-left p {
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    width: 80%;
    line-height: 36px;
    color: var(--paragraph);
    margin-left: auto;
    margin-top: 10px;
    margin-right: auto;
}

.titleX {
    font-weight: bold;
    width: 100%;
    text-decoration: none;
}

* {
    text-decoration: none;
}

.wrap-button {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    margin-top: 50px;
    z-index: 3;
    display: flex;
}

.wrap-button img {
    width: 22px;
    margin-right: 10px;
}

.btn-section1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px 30px;
    width: 214px;
    height: 64px;
    box-shadow: 0px 30px 60px rgba(59, 130, 246, 0.25);
    border-radius: 6px;
    flex: none;
    order: 0;
    border: none;
    position: relative;
    z-index: 2;
    outline: none;
    margin: 0px 15px 0 0;
}

.btn-section1:hover {
    transition: 0.2s;
    filter: brightness(90%);
    transform: scale(0.98);
}

.btn-section1:active {
    transition: 0.2s;
    transform: scale(0.95);
}

.a {
    background-color: var(--bluePrimary);
    color: white;
}

.b {
    background-color: var(--blueLight);
    color: var(--bluePrimary);
}

.section1-right {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background: var(--bgColor);
}

.section1-right .hero-img {
    width: 80%;
    z-index: 33;
    margin-top: -30px;
}

.section1-right .hero-bg {
    position: absolute;
    width: 50%;
    top: 0;
    height: auto;
    right: 0;
}

/* End Kode section 1 */

/* Kode Section Portfolio */

.portofolio {
    display: flex;
    flex-direction: column;
}

.wrap-portofolio {
    display: flex;
    overflow-x: scroll;
    width: 100vw;
}

.card-portofolio {
    position: relative;
    cursor: pointer;
    width: 300px;
    overflow: hidden;
    height: 300px;
    text-align: center;
    background-color: #fff;
    margin: 14px;
    border-radius: 10px;
    transition: 0.4s;
}

.card-portofolio:hover {
    transition: 0.4s;
    transform: scale(0.95);
}

.card-portofolio::before {
    position: absolute;
    display: block;
    width: 100%;
    z-index: 33;
    height: 100%;
    content: "";
    background-color: rgba(255, 255, 255, 0);
}

.card-portofolio img {
    width: 100%;
    height: auto;
    transform: scale(0.9);
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    background-repeat: no-repeat;
}

.co-wrap-portofolio {
    display: flex;
    position: relative;
    left: 0px;
    width: max-content;
}

.card-portofolio .title1,
.title2,
.title3,
.title4,
.title5 {
    position: absolute;
    color: rgb(255, 255, 255);
    left: 0;
    font-weight: bold;
    z-index: 3;
    height: 66px;
    box-shadow: 2px -4px 3px rgba(110, 110, 110, 0.171);
    bottom: 0;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    text-align: center;
}

.co-wrap-portofolio .title1 {
    background-color: rgb(65, 2, 165);
}

.co-wrap-portofolio .title2 {
    background-color: rgb(255, 192, 19);
}

.co-wrap-portofolio .title3 {
    background-color: rgb(0, 175, 152);
}

.co-wrap-portofolio .title4 {
    background-color: rgb(61, 61, 61);
}

.co-wrap-portofolio .title5 {
    background-color: rgb(177, 0, 53);
}

.card-portofolio i {
    position: absolute;
    z-index: 33333;
    left: 50%;
    top: 50%;
    display: flex;
    cursor: pointer;
    transform: translate(-50%, -50%);
    height: 65px;
    margin-left: auto;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    padding: 20px;
    font-size: 30px;
    border-radius: 90000px;
    border: none;
    opacity: 0;
    transition: 0.4s;
}

.card-portofolio:hover i {
    opacity: 1;
    transition: 0.5s;
}

.card-portofolio i:hover {
    transition: 0.4s;
    filter: brightness(70%);
}

/* End Kode Section Portfolio */

/* kode section 2 */

.section2 {
    position: relative;
    width: 100vw;
    padding-top: 80px;
    height: max-content;
    display: flex;
    padding-bottom: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #e5f0ff;
}

.section2b {
    position: relative;
    width: 100vw;
    padding-top: 60px;
    height: max-content;
    display: flex;
    margin-top: 60px;
    padding-bottom: 0px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #e5f0ff;
}

.section2 .square {
    position: absolute;
    left: 0;
    top: 200px;
    width: 15%;
}

.section2b .square {
    position: absolute;
    left: 0;
    top: 200px;
    width: 15%;
}

.section2 h1 {
    font-style: normal;
    font-weight: 500;
    font-size: 50px;
    line-height: 44px;
    width: 50%;
    /* or 137% */

    text-align: center;

    /* Dark */

    color: #193766;
}

.section2b h1 {
    font-style: normal;
    font-weight: 500;
    font-size: 50px;
    line-height: 44px;
    width: 50%;
    /* or 137% */

    text-align: center;

    /* Dark */

    color: #193766;
}

.titleSkills {
    margin-bottom: 30px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    margin-top: 30px;
    display: flex;
    align-items: center;
}

.titleSkills img {
    width: 60px;
    margin-left: 16px;
}

.wrap-section2 {
    width: 94vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    margin-top: 40px;
}

.card-section2 {
    position: relative;
    width: 30%;
    height: 350px;
    border-radius: 10px;
    margin: 10px;
    padding: 30px;
    border: 2px solid #193766;
}

.card-section2 img {
    position: relative;
    width: 60px;
    margin-left: 0px;
    margin-bottom: 20px;
}

.wrapper-section2b {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 94vw;
    margin-top: -10px;
    /* align-items: center;/ */
}

.wrap-section2b {
    width: 50vw;
    padding: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    margin-top: 0px;
}

.wrap-detail {
    width: 100%;
    display: flex;
    align-items: center;
    height: max-content;
}

.wrap-detail-desc {
    padding: 30px;
    height: 300px;
    border-radius: 30px;
    width: 45%;
}

.wrap-detail-desc li {
    font-size: 16px;
    margin-bottom: 12px;
}

.wrap-img-card {
    width: 100%;
    height: max-content;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    margin-top: 40px;
    margin-bottom: 12px;
    border-radius: 30px;
}

.wrap-img-card .img {
    width: 100%;
    border: 1px solid rgb(204, 204, 204);
    height: auto;
}

.card-section2b {
    position: relative;
    height: 360px;
    border-radius: 10px;
    margin: 10px;
    padding: 50px 40px 40px 40px;
    width: 94%;
    margin-bottom: 30px;
    height: 100%;
    background-color: white;
    border: 2px solid #193766;
}

.card-section2b img {
    position: relative;
    width: 60px;
    margin-left: 0px;
    margin-bottom: 20px;
}

.card-section2 .react {
    width: 48px;
}

.card-section2 .react2 {
    width: 50px;
}

.card-section2 .php {
    width: 70px;
}

.card-section2 .wp {
    width: 48px;
}

.card-section2 h4 {
    font-weight: bold;
}

.card-section2 p {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
    width: 90%;
}

.card1 {
    background-color: var(--blueDark);
    color: white;
}

/* End kode section 2 */

/* kode section 2b */

.section2b {
    position: relative;
    width: 100vw;
    padding-top: 8px;
    height: max-content;
    display: flex;
    padding-bottom: 0px;
    margin-bottom: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section2b .square2 {
    position: absolute;
    right: 0;
    transform: rotate(180deg);
    top: 0px;
    width: 18%;
}

.section2b .squareb {
    position: absolute;
    left: 0;
    top: 200px;
    width: 15%;
}

.section2b h1 {
    font-style: normal;
    font-weight: 500;
    font-size: 50px;
    line-height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40%;
    /* or 137% */

    text-align: center;

    /* Dark */

    color: #193766;
}

.projectIcon {
    width: 60px;
    margin-left: 16px;
}

.section2b p {
    line-height: 1.8em;
}

.wrap-section2b {
    width: 95vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 80px;
}

.fff {
    margin-top: 140px;
}

.card-section2bb {
    position: relative;
    width: 33%;
    height: 380px;
    border-radius: 10px;
    margin: 14px;
    /* box-shadow: 0px 30px 60px rgba(59, 130, 246, 0.25); */
}

.card-section2bc {
    position: relative;
    width: 33%;
    height: 380px;
    border-radius: 10px;
    margin: 14px;
    /* box-shadow: 0px 30px 60px rgba(59, 130, 246, 0.25); */
}

.card-section2ba {
    position: relative;
    width: 33%;
    height: 380px;
    border-radius: 10px;
    margin: 14px;
    /* box-shadow: 0px 30px 60px rgba(59, 130, 246, 0.25); */
}

.card-section2baa {
    position: relative;
    width: 33%;
    height: 380px;
    border-radius: 10px;
    margin: 14px;
    /* box-shadow: 0px 30px 60px rgba(59, 130, 246, 0.25); */
}

.card-section2ba .card-top1 {
    border-radius: 10px;
    width: 100%;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 55, 138);
    overflow: hidden;
}

.card-section2baa .card-top1 {
    border-radius: 10px;
    width: 100%;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 214, 143);
    overflow: hidden;
}

.card-section2baa .card-top1k {
    border-radius: 10px;
    width: 100%;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(157, 207, 255);
    overflow: hidden;
}

.card-section2bb .card-top2 {
    border-radius: 10px;
    width: 100%;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(221, 0, 74);
    overflow: hidden;
}

.card-section2bc .card-top3 {
    border-radius: 10px;
    width: 100%;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 13, 83);
    overflow: hidden;
}

.card-section2bb .card-top2 .drag {
    position: relative;
    width: 53%;
    height: auto;
    margin-left: 0px;
    margin-bottom: 20px;
}

.card-section2bc .card-top3 .latter {
    position: relative;
    width: 54%;
    height: auto;
    margin-left: 0px;
    margin-bottom: 20px;
}

.card-section2ba .card-top1 .valll {
    position: relative;
    width: 27%;
    height: auto;
    margin-left: 0px;
    margin-bottom: 20px;
}

.card-section2baa .card-top1 .valll {
    position: relative;
    width: 27%;
    height: auto;
    margin-left: 0px;
    margin-bottom: 20px;
}

.card-section2baa .card-top1k .valll {
    position: relative;
    width: 27%;
    height: auto;
    margin-left: 0px;
    margin-bottom: 20px;
}

.card-bottom {
    padding: 24px 14px 14px 14px;
    /* background-color: white; */
}

.card-section2b .reactb {
    width: 48px;
}

.card-section2b .wpb {
    width: 48px;
}

.card-section2b h4 {
    font-weight: bold;
    margin-top: 30px;
    font-size: 30px;
}

.card-section2b p {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
    width: 90%;
}

/* End kode section 2b */

/* kode section3 */

.section3 {
    position: relative;
    width: 100vw;
    padding-bottom: 46px;
    height: max-content;
    padding-top: 0px;
    background-color: #e5f0ff;
    display: flex;
}

.circle {
    position: absolute;
    right: 0;
    top: 120px;
    width: 26%;
}

.section3-left {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.section3-left h2 {
    position: relative;
    font-style: normal;
    font-weight: 500;
    margin-left: auto;
    margin-right: auto;
    font-size: 50px;
    line-height: 44px;
    width: 80%;
    color: #193766;
}

.section3-left p {
    margin-left: auto;
    margin-right: auto;
    font-style: normal;
    width: 80%;
    margin-top: 20px;
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
    color: #697b98;
}

.list-section3 {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
    color: #193766;
}

.section3-left img {
    width: 12px;
    margin-right: 10px;
}

.section3-right {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.section3-right img {
    width: 60%;
    margin-top: 0px;
    z-index: 33;
}

.section3-right .latter {
    width: 81%;
    margin-top: 0px;
    z-index: 33;
}

/* End kode section3 */

/* kode section4 */

.section4 {
    position: relative;
    width: 100vw;
    height: max-content;
    display: flex;
    padding-top: 100px;
    padding-bottom: 170px;
}

.segitiga {
    position: absolute;
    left: 0;
    top: 50px;
    width: 24%;
}

.section4-left {
    width: 50%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section4-left img {
    width: 120%;
    margin-top: 0px;
    margin-left: -40px;
    z-index: 44;
}

.section4-right {
    width: 50%;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.section4-right h2 {
    position: relative;
    font-style: normal;
    font-weight: 500;
    margin-left: auto;
    margin-right: auto;
    font-size: 50px;
    line-height: 44px;
    width: 80%;
    color: #193766;
}

.section4-right p {
    margin-left: auto;
    margin-right: auto;
    font-style: normal;
    width: 80%;
    margin-top: 20px;
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
    color: #697b98;
}

.list-section4 {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
    color: #193766;
}

.section4-right img {
    width: 12px;
    margin-right: 10px;
}

/* End kode section4 */

/* kode section5 */

.section5 {
    position: relative;
    width: 100vw;
    background-color: #e5f0ff;
    height: max-content;
}

.section5-sertif {
    position: relative;
    width: 100vw;
    margin-top: 80px;
    background-color: #e5f0ff;
    height: max-content;
}

.card-prod {
    position: relative;
    width: max-content;
    height: max-content;
    margin: 0px 20px;
}

.wrap-product i {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 45%;
    left: 0%;
    background-color: white;
    border-radius: 9999px;
    cursor: pointer;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    transform: scale(1.8);
    transition: 0.4s;
}

.wrap-product i:hover {
    transition: 0.4s;
    filter: brightness(85%);
}

.wrap-section5 {
    width: 100vw;
    display: flex;
    flex-direction: column;
    padding-bottom: 30px;
    height: max-content;
    background-color: var(--blueDark);
    -webkit-clip-path: polygon(0 2%, 100% 0%, 100% 99%, 0% 100%);
    clip-path: polygon(0 2%, 100% 0%, 100% 99%, 0% 100%);
}

.wrap-section5-sertif {
    width: 100vw;
    padding-bottom: 40px;
    display: flex;
    text-align: center;
    height: 820px;
    /* -webkit-clip-path: polygon(0 2%, 100% 0%, 100% 99%, 0% 100%); */
    /* clip-path: polygon(0 2%, 100% 0%, 100% 99%, 0% 100%); */
}

.certif-child {
    width: 50%;
    height: 100%;
    padding: 40px;
    box-sizing: border-box;
    text-align: left;
    overflow: hidden;
    color: white;
}

.kredensial2b {
    position: absolute;
    top: 22px;
    right: 22px;
    background-color: #e5f0ff;
    display: flex;
    justify-content: space-between;
    padding-left: 12px;
    padding-right: 12px;
    align-items: center;
    width: max-content;
    height: 42px;
    border: 1px solid black;
    border-radius: 100px;
    cursor: pointer;
    color: black;
    transition: 0.2s;
}

.kredensial2b:hover {
    filter: brightness(90%);
    transform: scale(0.98);
    transition: 0.2s;
}

.kredensial2bb {
    position: absolute;
    top: 22px;
    right: 22px;
    display: none;
    background-color: #e5f0ff;
    display: none;
    justify-content: space-between;
    padding-left: 12px;
    padding-right: 12px;
    align-items: center;
    width: max-content;
    height: 42px;
    border: 1px solid black;
    border-radius: 100px;
    cursor: pointer;
    color: black;
    transition: 0.2s;
}

.kredensial2bb:hover {
    filter: brightness(90%);
    transform: scale(0.98);
    transition: 0.2s;
}

.kredensial {
    position: relative;
    top: 60px;
    display: flex;
    justify-content: space-between;
    padding-left: 12px;
    padding-right: 12px;
    align-items: center;
    width: max-content;
    height: 42px;
    border: 1px solid white;
    border-radius: 100px;
    cursor: pointer;
    /* background-color: white; */
    color: white;
    transition: 0.2s;
}

.kredensial:hover {
    filter: brightness(90%);
    transform: scale(0.98);
    transition: 0.2s;
}

.kredensial2b small {
    width: max-content;
    margin-right: 20px;
    display: flex;
}

.kredensial2b img {
    height: 16px;
    padding: 2px;
    border-radius: 100px;
    width: 22px;
    top: 10px;
    position: relative;
}

.kredensial small {
    width: max-content;
    margin-right: 20px;
    display: flex;
}

.kredensial img {
    height: 16px;
    padding: 2px;
    background-color: white;
    border-radius: 100px;
    width: 22px;
    top: 4px;
    position: relative;
}

.certif-child1 .img-certif {
    top: 70px;
    left: 0;
    width: 75%;
    position: relative;
    opacity: 1;
}

.card-section2b .react2 {
    width: 128px;
    margin-bottom: 20px;
}

.dragme {
    background-color: rgba(255, 255, 255, 0);
    transition: 0.1s;
}

.dragme:hover {
    transition: 0.1s;
    transform: scale(0.97);
}

.pixabay {
    background-color: rgba(255, 255, 255, 0);
    transition: 0.1s;
}

.pixabay:hover {
    transition: 0.1s;
    transform: scale(0.97);
}

.weblatter {
    background-color: rgb(255, 255, 255);
    transition: 0.1s;
}

.weblatter:hover {
    transition: 0.1s;
    transform: scale(0.97);
}

.card-section2b .react {
    width: 99px;
    left: 10px;
    top: 0px;
    position: absolute;
}

.card-section2b.cardddd h4 {
    font-weight: bold;
    margin-top: 65px;
}

.certif-child2 .img-certif,
.certif-child3 .img-certif {
    top: 70px;
    left: 0px;
    width: 75%;
    position: relative;
    opacity: 1;
}

.certif-child1 {
    background-color: var(--blueDark);
}

.certif-child2 {
    background-color: var(--blueDark2);
}

.certif-child3 {
    background-color: var(--blueDark3);
}

.wrap-section5 h2 {
    width: 70vw;
    font-style: normal;
    font-weight: 500;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 30px;
    font-size: 50px;
    line-height: 44px;
    text-align: center;
    color: #ffffff;
}

.wrap-section5-sertif h2 {
    font-style: normal;
    font-weight: 500;
    margin-top: 110px;
    margin-bottom: 30px;
    font-size: 50px;
    line-height: 44px;
    color: #ffffff;
}

.wrap-section5 small {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    margin-left: auto;
    width: 60vw;
    margin-right: auto;
    line-height: 30px;
    margin-bottom: 60px;
    margin-top: -20px;
    text-align: center;
    color: rgba(255, 255, 255, 0.8);
}

.btn-preview {
    position: relative;
    width: 120px;
    height: 41px;
    margin-top: 100px;
    border: none;
    outline: none;
    color: white;
    font-weight: bold;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(103, 119, 145, 0.1);
    border-radius: 100px;
}

.section5 img {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    border-radius: 13px;
}

.section5-sertif img {
    margin-top: 0px;
    margin-bottom: 10px;
    border-radius: 13px;
}

.wrap-product {
    width: 80%;
    margin-bottom: 80px;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.dd {
    margin-top: 50px;
}

.tawarkan {
    position: relative;
    display: flex;
    height: max-content;
    text-align: center;
    flex-direction: column;
    padding-top: 30px;
}

.getPaket {
    border-radius: 999px;
    color: white;
    background-color: rgb(165, 165, 255);
    transition: 0.4s;
    box-shadow: 10px 9px 0px -2px rgba(27, 0, 122, 1);
    -webkit-box-shadow: 10px 9px 0px -2px rgba(27, 0, 122, 1);
    -moz-box-shadow: 10px 9px 0px -2px rgba(27, 0, 122, 1);
    cursor: pointer;
    transition: 0.4s;
    width: 100%;
    height: 50px;
    border: none;
    font-family: "Outfit", sans-serif;
    outline: none;
    font-weight: bold;
}

.getPaket:hover {
    transform: scale(0.95);
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
}

.tawarkan h2 {
    position: relative;
    font-size: 50px;
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
    color: #193766;
}

.tawarkan p {
    position: relative;
    line-height: 2em;
    margin-left: 50px;
    font-size: 18px;
    width: 80%;
}

.title-tawarkan {
    position: relative;
    display: flex;
    height: max-content;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100vw;
}

.wrap-card-tawarkan {
    position: relative;
    height: max-content;
    margin-top: 40px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    align-items: center;
    width: 100vw;
}

.tawarkan img {
    width: 60px;
    margfin-left: 10px;
}

.type-paket {
    width: 100%;
    height: max-content;
    padding: 22px 10px 22px 27px;
    color: rgb(36, 36, 36);
    font-weight: bold;
    background-color: var(--blueLight);
}

.card-paket {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07), 0 2px 4px rgba(0, 0, 0, 0.07),
        0 4px 8px rgba(0, 0, 0, 0.07), 0 8px 16px rgba(0, 0, 0, 0.07),
        0 16px 32px rgba(0, 0, 0, 0.07), 0 32px 64px rgba(0, 0, 0, 0.07);
    width: 350px;
    height: max-content;
    margin: 40px;
    overflow: hidden;
    border-radius: 20px;
    background-color: #fff;
    transition: 0.3s;
    text-align: left;
}

.card-paket small {
    position: relative;
    margin-bottom: 140px;
}

.value-paket {
    padding: 30px;
}

.card-paket h2 {
    margin-left: 0px;
    font-size: 30px;
}

.list-features {
    display: flex;
    width: 100%;
    margin-top: 4px;
    justify-content: center;
}

.list-features .p {
    margin-left: 10px;
    font-size: 17px;
    text-align: left;
}

.list-features i {
    position: relative;
    top: 10px;
}

/* End kode section5 */

/* kode section6 */

.section6 {
    position: relative;
    width: 100vw;
    height: max-content;
    padding-top: 120px;
    display: flex;
}

.btn-port {
    width: 485px;
}

.section6-left {
    display: flex;
    justify-content: center;
    width: 50%;
    flex-direction: column;
    height: 600px;
}

.section6-left h2 {
    position: relative;
    font-style: normal;
    font-weight: 500;
    margin-left: auto;
    margin-right: auto;
    font-size: 50px;
    line-height: 44px;
    width: 80%;
    color: #193766;
}

.icon-child {
    width: 19%;
    margin-left: 0px;
    /* border-radius: 10px; */
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
}

.project-child1,
.project-child2,
.project-child3 {
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: 0.2s;
}

.project-child1:hover,
.project-child2:hover,
.project-child3:hover {
    transition: 0.2s;
    background-color: var(--blueDark);
    color: white;
}

.project-child1 img,
.project-child2 img,
.project-child3 img {
    width: 20px;
}

.wrap-project p {
    margin-left: 20px;
    position: relative;
    top: 8px;
}

.section6-left p {
    margin-left: auto;
    margin-right: auto;
    font-style: normal;
    width: 80%;
    margin-top: 20px;
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
    color: #697b98;
}

.section6 .wrap-list {
    width: 80%;
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
}

.section7 .wrap-list {
    position: relative;
    left: -27px;
    width: 80%;
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
}

.wrap-list button {
    background-color: #3b82f6;
    color: white;
    border-radius: 6px;
    font-weight: 500;
    margin-bottom: 20px;
    text-align: left;
    height: 70px;
    box-shadow: 0px 30px 60px rgba(85, 118, 172, 0.25);
    align-items: center;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
}

.wrap-list button img {
    width: 20px;
}

.section6-right {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 5 00px;
}

.section6-right img {
    width: 38.7%;
}

.racle {
    position: absolute;
    opacity: 0.9;
    right: 0;
    z-index: -1;
    width: 480px;
    top: 100px;
}

/* End kode section6 */

/* kode section6 */

.section6sertif {
    position: relative;
    width: 100vw;
    height: max-content;
    padding-top: 0px;
    margin-top: -44px;
    display: flex;
}

.btn-port {
    width: 485px;
}

.section6sertif-left {
    display: flex;
    justify-content: center;
    width: 50%;
    flex-direction: column;
    height: 600px;
}

.section6sertif-left h2 {
    position: relative;
    font-style: normal;
    font-weight: 500;
    margin-left: auto;
    margin-right: auto;
    font-size: 50px;
    line-height: 44px;
    width: 80%;
    color: #193766;
}

.section6sertif-left p {
    margin-left: auto;
    margin-right: auto;
    font-style: normal;
    width: 80%;
    margin-top: 20px;
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
    color: #697b98;
}

.section6sertif .wrap-list {
    width: 80%;
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
}

.section7 .wrap-list {
    position: relative;
    left: -27px;
    width: 80%;
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
}

.wrap-list button {
    background-color: #3b82f6;
    color: white;
    border-radius: 6px;
    font-weight: 500;
    margin-bottom: 20px;
    text-align: left;
    height: 70px;
    box-shadow: 0px 30px 60px rgba(85, 118, 172, 0.25);
    align-items: center;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
}

.wrap-list button img {
    width: 20px;
}

.section6sertif-right {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 5 00px;
}

.section6sertif-right img {
    width: 58%;
    margin-left: -30px;
}

.racle {
    position: absolute;
    opacity: 0.9;
    right: 0;
    z-index: -1;
    width: 480px;
    top: 100px;
}

/* End kode section6 */

/* kode section6 */

.section7 {
    position: relative;
    width: 100vw;
    height: max-content;
    padding-top: 50px;
    display: flex;
}

.section7 .dek7 {
    position: absolute;
    left: 0;
    top: 80px;
    width: 500px;
    z-index: -1;
}

.section7-left {
    display: flex;
    justify-content: center;
    width: 50%;
    flex-direction: column;
    height: 600px;
}

.section7-left h2 {
    position: relative;
    font-style: normal;
    font-weight: 500;
    margin-left: auto;
    margin-right: auto;
    font-size: 50px;
    line-height: 44px;
    width: 80%;
    color: #193766;
}

.section7-left p {
    margin-left: auto;
    margin-right: auto;
    font-style: normal;
    width: 80%;
    margin-top: 20px;
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
    color: #697b98;
}

.wrap-list {
    width: 80%;
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
}

.wrap-list span {
    display: flex;
    width: max-content;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
    color: #193766;
    margin-bottom: 16px;
}

.wrap-list img {
    margin-right: 14px;
    width: 20px;
    height: 20px;
}

.section7-right {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 5 00px;
}

.section7-right img {
    width: 60%;
}

/* End kode section7 */

/* kode section8 */

.section8 {
    position: relative;
    width: 100vw;
    height: max-content;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 90px 0;
    flex-direction: column;
    text-align: center;
}

.wrap-section8 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: max-content;
    margin-top: 30px;
}

.btn-downloads {
    width: 205px;
    height: 51px;
    background-color: rgba(59, 130, 246, 0.1);
    border-radius: 100px;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 0px;
    margin-bottom: 20px;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    border: none;
    outline: none;
    line-height: 21px;
    text-align: center;
    letter-spacing: 0.1em;
    color: #3b82f6;
    order: 0;
    flex-grow: 0;
    margin: 0px 10px;
}

.section8 h2 {
    font-style: normal;
    font-weight: 500;
    font-size: 50px;
    line-height: 44px;
    text-align: center;
    margin-top: 20px;
    color: #193766;
}

.section8 p {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
    text-align: center;
    color: #697b98;
    flex: none;
    width: 45vw;
    margin-top: 10px;
}

.btn-wrap-section8 img {
    width: 20px;
    margin-right: 10px;
}

.btn-wrap-section81 {
    width: 214px;
    margin: 0 20px;
    border: none;
    outline: none;
    color: white;
    height: 64px;
    background: #3b82f6;
    box-shadow: 0px 30px 60px rgba(59, 130, 246, 0.25);
    border-radius: 6px;
}

.btn-wrap-section82 {
    width: 214px;
    margin: 0 20px;
    border: none;
    outline: none;
    color: white;
    height: 64px;
    background: #1da1f2;
    box-shadow: 0px 30px 60px rgba(59, 130, 246, 0.25);
    border-radius: 6px;
}

.btn-wrap-section82 img {
    margin-left: 10px;
}

/* End kode section8 */

.portofolio {
    display: flex;
    margin-top: 140px;
    flex-direction: column;
}

.wrap-portofolio {
    display: flex;
    /* overflow-x: scroll; */
    width: 100vw;
    justify-content: space-between;
    align-items: center;
}

.card-portofolio {
    position: relative;
    cursor: pointer;
    width: 21.5vw;
    overflow: hidden;
    height: 280px;
    text-align: center;
    background-color: #fff;
    margin: 14px;
    border-radius: 10px;
    transition: 0.4s;
}

.card-portofolio:hover {
    transition: 0.4s;
    transform: scale(0.95);
}

.card-portofolio::before {
    position: absolute;
    display: block;
    width: 100%;
    z-index: 33;
    height: 100%;
    content: "";
    background-color: rgba(255, 255, 255, 0);
}

.card-portofolio img {
    width: 100%;
    height: auto;
    transform: scale(0.9);
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    background-repeat: no-repeat;
}

.co-wrap-portofolio {
    display: flex;
    position: relative;
    width: 100vw;
    /* overflow: hidden; */
    justify-content: center;
    align-items: center;
    height: max-content;
    margin-left: auto;
    margin-right: auto;
}

.card-portofolio .title1,
.title2,
.title3,
.title4,
.title5 {
    position: absolute;
    color: rgb(255, 255, 255);
    left: 0;
    font-weight: bold;
    z-index: 3;
    height: 66px;
    box-shadow: 2px -4px 3px rgba(110, 110, 110, 0.171);
    bottom: 0;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    text-align: center;
}

.co-wrap-portofolio .title1 {
    background-color: rgb(65, 2, 165);
}

.co-wrap-portofolio .title2 {
    background-color: rgb(255, 192, 19);
}

.co-wrap-portofolio .title3 {
    background-color: rgb(0, 175, 152);
}

.co-wrap-portofolio .title4 {
    background-color: rgb(61, 61, 61);
}

.co-wrap-portofolio .title5 {
    background-color: rgb(177, 0, 53);
}

.card-portofolio i {
    position: absolute;
    z-index: 33333;
    left: 50%;
    top: 50%;
    display: flex;
    cursor: pointer;
    transform: translate(-50%, -50%);
    height: 65px;
    margin-left: auto;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    padding: 20px;
    font-size: 30px;
    border-radius: 90000px;
    border: none;
    opacity: 0;
    transition: 0.4s;
}

.done-v {
    border-radius: 993px;
    width: 60px;
    display: flex;
    align-items: center;
    left: 47.7%;
    justify-content: center;
    cursor: pointer;
    text-align: center;
    background-color: white;
    height: 60px;
    margin-top: 20px;
    position: absolute;
    transition: 0.2s;
    z-index: 2;
}

.done-v img {
    width: 60%;
}

.done-v:hover {
    z-index: 2;
    transform: scale(0.95);
    filter: brightness(90%);
    transition: 0.2s;
}

.card-portofolio:hover i {
    opacity: 1;
    transition: 0.5s;
}

.card-portofolio i:hover {
    transition: 0.4s;
    filter: brightness(70%);
}

.vv {
    transform: scale(0.7);
}

.vv1 {
    position: relative;
    bottom: 50px;
    left: 50px;
    box-shadow: 4.5px 4.5px 3.6px rgba(0, 0, 0, 0.01),
        12.5px 12.5px 10px rgba(0, 0, 0, 0.015),
        30.1px 30.1px 24.1px rgba(0, 0, 0, 0.02),
        100px 100px 80px rgba(0, 0, 0, 0.03);
    animation: vv1 3s infinite linear;
}

.vv2 {
    position: relative;
    top: 40px;
    animation: vv2 4s infinite linear;
}

.vv3 {
    position: relative;
    bottom: 50px;
    right: 50px;
    box-shadow: 4.5px 4.5px 3.6px rgba(0, 0, 0, 0.01),
        12.5px 12.5px 10px rgba(0, 0, 0, 0.015),
        30.1px 30.1px 24.1px rgba(0, 0, 0, 0.02),
        100px 100px 80px rgba(0, 0, 0, 0.03);
    animation: vv3 5s infinite linear;
}

@keyframes vv1 {
    0% {
        position: relative;
        bottom: 50px;
    }
    33% {
        position: relative;
        bottom: 80px;
    }
    100% {
        position: relative;
        bottom: 50px;
    }
}

@keyframes vv2 {
    0% {
        position: relative;
        bottom: 50px;
    }
    33% {
        position: relative;
        bottom: 80px;
    }
    100% {
        position: relative;
        bottom: 50px;
    }
}

@keyframes vv3 {
    0% {
        position: relative;
        bottom: 50px;
    }
    33% {
        position: relative;
        bottom: 80px;
    }
    100% {
        position: relative;
        bottom: 50px;
    }
}

/* Konsultasi dan responsive */

.konsultasi {
    position: relative;
    width: 100vw;
    display: flex;
    margin-top: 0px;
    justify-content: center;
    height: max-content;
    flex-direction: column;
    align-items: center;
}

.konsultasi i {
    font-size: 70px;
    position: relative;
    top: -20px;
    margin-top: 0px;
    color: white;
    margin-left: 20px;
    margin-right: 20px;
}

.raih {
    color: rgb(255, 208, 0);
}

.fa-comment-dots {
    left: 0;
    top: 0px;
}

.konsultasi div {
    width: 100vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #c6dbff;
    position: relative;
}

.konsultasi h2 {
    position: relative;
    color: white;
    font-weight: 500;
    font-size: 28px;
    margin-left: 80px;
    margin-top: 30px;
    display: flex;
    line-height: 2em;
    width: 70vw;
    text-align: center;
}

.konsultasi-right {
    display: flex;
    justify-content: center;
}

.btn-konsultasi {
    position: relative;
    border: none;
    margin-bottom: 20px;
    outline: none;
    margin-top: 70px;
    border-radius: 1000px;
    cursor: pointer;
    color: white;
    text-align: center;
    background-color: var(--bluePrimary);
    width: 220px;
    font-weight: bold;
    margin-left: auto;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-right: auto;
    font-size: 18px;
    transform: scale(1.22);
    height: 55px;
    font-family: "Open Sans", sans-serif;
    transition: 0.4s;
    box-shadow: 10px 9px 0px -2px rgb(255, 217, 0);
    -webkit-box-shadow: 10px 9px 0px -2px rgb(255, 217, 0);
    -moz-box-shadow: 10px 9px 0px -2px rgb(15, 15, 15);
}

.btn-konsultasi:hover {
    transform: scale(1.17);
    transition: 0.4s;
    box-shadow: none;
}

.konsultasi p {
    margin-top: 30px;
    margin-left: 80px;
    line-height: 2em;
}

.blob {
    width: 100%;
    position: relative;
    margin-top: 140px;
    right: -150px;
}

.responsive {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-bottom: 120px;
    padding-bottom: 0px;
    align-items: center;
}

.responsive-left {
    margin-top: 20px;
    height: max-content;
}

.responsive-right {
    margin-top: 60px;
    height: max-content;
    display: flex;
}

.responsive-left h2 {
    font-size: 50px;
    color: #193766;
}

.responsive-left p {
    width: 50vw;
    margin-left: auto;
    margin-right: auto;
    line-height: 2em;
}

.device {
    position: relative;
    width: 30vw;
    margin-left: auto;
    margin-top: 60px;
    padding-top: 30px;
    overflow: hidden;
    background-color: #fff;
    margin-right: 40px;
    margin-right: auto;
    border-radius: 40px;
    padding-bottom: 60px;
    height: 606px;
    box-shadow: 1px 2px 6px rgba(201, 201, 201, 0.486);
    transition: 0.4s;
}

.breakpoint {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    width: 100%;
    color: rgb(26, 26, 26);
    height: 50px;
    position: absolute;
    bottom: 10px;
}

.breakpoint p {
    position: relative;
    top: 7px;
}

.device .device-menu {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: max-content;
}

.device li {
    list-style: none;
    margin: 20px;
    animation: de 11s ease-in-out infinite;
    padding-left: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
    font-weight: bold;
    padding-right: 10px;
}

.device li:hover {
    transition: 0.4s;
    cursor: pointer;
    color: white;
    border-radius: 500px;
    background-color: rgb(60, 0, 172);
}

.device2 li:hover {
    transition: 0.4s;
    cursor: pointer;
    color: white;
    border-radius: 500px;
    background-color: rgb(60, 0, 172);
}

.device2 .device-image {
    width: 31%;
    margin-top: 40px;
}

.device h3 {
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 20px;
    margin-top: 40px;
}

.device2 {
    position: relative;
    width: 50vw;
    margin-left: auto;
    margin-top: 60px;
    background-color: #fff;
    transition: 0.4s;
    margin-left: 40px;
    overflow: hidden;
    padding-top: 30px;
    margin-right: auto;
    border-radius: 40px;
    padding-bottom: 60px;
    height: max-content;
    box-shadow: 1px 2px 6px rgba(201, 201, 201, 0.486);
}

.device2 .device-menu {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: max-content;
}

.device2 li {
    list-style: none;
    margin: 20px;
    padding-left: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
    font-weight: bold;
    padding-right: 10px;
    margin-left: 50px;
    margin-right: 50px;
    animation: de 11s ease-in-out infinite;
}

.device-image {
    width: 40%;
    margin-top: 40px;
}

.device2 h3 {
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 20px;
    margin-top: 40px;
}

.device h3 {
    font-weight: bold;
    font-size: 30px;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    margin-top: 40px;
}

.device p {
    width: 80%;
    line-height: 2em;
    font-size: 16px;
    margin-left: auto;
    margin-right: auto;
}

.device2 p {
    width: 60%;
    line-height: 2em;
    font-size: 16px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 36px;
}

/* End konsultasi dan responsive */

.wave {
    position: relative;
    top: 60px;
}

/* others */

.section6-mz1 {
    margin: 60px 0px 100px 0px;
}

.body-section6-mz1 {
    margin: 50px 100px;
}

.body-section6-mz1 p {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #a7abb6;
}

.body-section6-mz1 h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 54px;
    color: #193766;
    margin: 12px 0;
}

.sub-body-mz1 {
    display: flex;
    justify-content: space-between;
    align-items: start;
}

.sub-body-mz1 p {
    width: 50%;
}

.sub-body-mz1 button {
    width: 193px;
    height: 51px;
    background: #0041e8;
    box-shadow: 0px 25px 30px rgba(0, 65, 232, 0.1);
    border-radius: 30px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #ffffff;
    outline: none;
    border: none;
}

.section6-mz1 img {
    width: 87%;
    border-radius: 12px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.image-all {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media only screen and (min-width: 320px) and (max-width: 576px) {
    .body-section6-mz1 {
        margin: 30px;
    }

    .sub-body-mz1 {
        flex-direction: column;
    }

    .sub-body-mz1 p {
        width: 100%;
    }

    .sub-body-mz1 button {
        margin-top: 30px;
    }
}

/* end others */

.wa-feature {
    position: fixed;
    right: 60px;
    bottom: 60px;
    border-radius: 9999px;
    padding: 4px;
    width: 70px;
    height: 70px;
    background-color: white;
    border: 1px solid var(--primary);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999999;
    cursor: pointer;
    transition: 0.4s;
    box-shadow: 2.8px 2.8px 2.2px rgba(0, 0, 0, 0.034),
        6.7px 6.7px 5.3px rgba(0, 0, 0, 0.048),
        12.5px 12.5px 10px rgba(0, 0, 0, 0.06),
        22.3px 22.3px 17.9px rgba(0, 0, 0, 0.072),
        41.8px 41.8px 33.4px rgba(0, 0, 0, 0.086),
        100px 100px 80px rgba(0, 0, 0, 0.12);
}

.wa-feature:hover {
    filter: brightness(90%);
    transition: 0.4s;
}

.wa-feature:active {
    transition: 0.4s;
    transform: scale(0.98);
}

.wa-feature img {
    width: 70%;
}

/* kode footer */

footer {
    position: relative;
    width: 100vw;
    display: flex;
    margin-top: 0px;
    flex-direction: column;
    background-color: var(--blueDark);
    /* -webkit-clip-path: polygon(0 5%, 100% 0%, 100% 100%, 0% 100%);
    clip-path: polygon(0 5%, 100% 0%, 100% 100%, 0% 100%); */
    height: 400px;
    align-items: center;
}

.wrap-footer {
    align-items: center;
    display: flex;
    flex-direction: column;
    text-align: center;
}

footer img {
    width: 70px;
    margin-top: 80px;
    margin-bottom: 20px;
    height: 70px;
    position: relative;
}

footer p {
    font-style: normal;
    font-weight: normal;
    width: 500px;
    margin-left: 40px;
    font-size: 16px;
    line-height: 28px;
    color: rgba(255, 255, 255, 0.8);
}

footer small {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
    top: 50px;
    position: relative;
    letter-spacing: 0.1em;
    color: rgba(255, 255, 255, 0.4);
}

/* End kode footer */
